body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background: #333;
    color: #fff;
    padding: 20px;
    text-align: left;
}

header h1 {
    color: #ffffff; /* Ensures the header h1 is white */
}

section {
    margin: 20px;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: left;
}

h1, h2 {
    text-align: left;
}


p {
    text-align: left;
}


a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

footer {
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    background: #333;
    color: #fff;
}

h2 {
    margin-top: 20px;
    color: #333;
    text-align: left;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

ul li {
    margin-bottom: 15px;
    line-height: 1.5;
}

ul li ul {
    margin-top: 10px;
    margin-left: 20px;
    list-style-type: disc; /* Use bullets for sub-lists */
}

ul li strong {
    font-weight: bold;
    color: #333;
}